<h2>Notes</h2>
<div>
    <div id="pnlBreadcrumb"></div>
    <div>
        <div id="pnlSubject">
            <form data-bind="submit: addSubject">
             <span>Subject</span> <input data-bind="value: newSubject" placeholder="subject" /> <button type="submit">Save</button>
             <button type="button">Delete Subject</button>
            </form>
        </div>
        <div id="pnlCategory">
             <form data-bind="submit: addCategory">
             <span>Categoy</span> <input data-bind="value: newCategory" placeholder="category" /> <button type="submit">Save</button>
             <button type="button">Delete Category</button>
            </form>
        </div>
        <div id="pnlCards">
        </div>
    </div>
</div>

